.App {
    text-align: center;
    margin-top: 50px;
  }
  
  .search-bar {
    margin: 20px;
  }
  
  .search-bar input {
    padding: 10px;
    width: 200px;
  }
  
  .search-bar button {
    padding: 10px;
  }
  
  .weather-info {
    margin-top: 20px;
  }
  
  .weather-info img {
    width: 50px;
  }
  
  .error-message {
    color: red;
    font-size: 18px;
  }
  
  .error {
    color: red;
    font-size: 18px;
  }
  